﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<div class="container">
    <br />
    <div>

        <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Created Date</th>
                </tr>
            </thead>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $("#myTable").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/UsersProfiles/LoadUserProfilesData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Username", "name": "Username", "autoWidth": true },
                    { "data": "EmailID", "name": "EmailID", "autoWidth": true },
                    { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                ]

            });
        });
    </script>

</div>